<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.net.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomer</servlet-name>
        <servlet-class>com.net.controller.InsertCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>com.net.controller.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEditCustomer</servlet-name>
        <servlet-class>com.net.controller.ConfirmEditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>com.net.controller.DeleteCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/danh-sach-khach-hang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomer</servlet-name>
        <url-pattern>/InsertCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEditCustomer</servlet-name>
        <url-pattern>/ConfirmEditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
